.content{
  width: 70%;
  margin: auto;
}
.products{
  border-style: solid double;
  width: 80%;
  /*margin-bottom: 20px;*/
}
.product_row{
  border-style: solid;
  margin-bottom: 5px;
  background-color: green;
  /*Detta sätter höjden för produktraderna*/
  height: 150px;
}
.pictures{
  float:left;
  width: 25%;
  height: 100%;
  background-color: red;
}
.description{
  float:left;
  height: 100%;
  background-color: white;
  width:45%;
}
.price{
  width:30%;
  float:right;
  height: 100%;
  background-color: white;
}
